[submodule "modules/fzf/fzf"]
	path = modules/fzf/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "modules/vim/vim/bundle/Vundle.vim"]
	path = modules/vim/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "modules/autojump/autojump"]
	path = modules/autojump/autojump
	url = https://github.com/wting/autojump
